body {
    background-color: #f2f2ed;
    font-family: Arial;
}

article {
    font-size: 1em;
}

h1 {
    font-size: 2em;
    color: #0200FF;
}

h3 {
    font-size: 1.5em;
    color: #0200FF;
}

p {
    
}
