body {
    background-color: #f2f2ed;
    font-family: Verdana, sans-serif;;
}

article {
    font-size: 1.5em;
    margin: 25px 25px 25px 25px;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 2.5em;
    color: #0200FF;
    font-family: Georgia, serif;
}

h3 {
    font-size: 2em;
    color: #0200FF;
}

p {
    padding-bottom: 25px;
}

.para_start {
    color: #FF6919;
    font-weight: bold;
}

img {
    height: 125px;
    width: 125px;
}

.left_align {
    float: left;
}

.right_align {
    float: right;
}

#final {
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
}
